<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>

<body>
  <div class="container">
    <p>Registration</p>
    <p>Are you registering as a customer or a business owner?</p>
    <input type="checkbox" class="user_customer">Customer
    <input type="checkbox" class="user_business_owner">Business Owner
  </div>
  <app-customer-login-form ></app-customer-login-form>
</body>
</html>