<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./assets/images/acustom_logo.png" width="100px" height="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/log-in-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
</nav>
<router-outlet></router-outlet>