<div class="designer-page">
    <h1>Designers</h1>
    <div class="designer-list">
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
        <div class="card-container">
            <app-designer-card></app-designer-card>
        </div>
    </div>
</div>