    <div class="card border-info">
        <div class="card-body">
            <img class="card-img-top" src="..." alt="Card image cap">

            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                 Offal tattooed glossier humblebrag. XOXO pickled aesthetic hashtag, sriracha umami cornhole next level yr selfies post-ironic palo santo. Man bun chartreuse mumblecore, tofu meh mustache quinoa lumbersexual PBR&B thundercats gatekeep occupy.
            </p>
            <button type="button" class="btn btn-outline-info">              
                <a class="card-link" routerLink="/designer-dashboard" routerLinkActive="active"
                ariaCurrentWhenActive="page">Check Out My Products</a>
            </button>
        </div>
    </div>