<div class="container-business">
  <div class="business_form_left">
      <div class="form__input-group">
          <input type="text" class="form__input" autofocus placeholder="Full Name">
          <input type="email" class="form__input" autofocus placeholder="Email Address">
          <input type="password" class="form__input" autofocus placeholder="Password">
          <input type="password" class="form__input" autofocus placeholder="Confirm Password">
          <input type="text" class="form__input" autofocus placeholder="Business Name">
          <input type="text" class="form__input" autofocus placeholder="Type of Business/Business Offerings">
          <input type="text" class="form__input" autofocus placeholder="Business Title/Role">
          <input type="text" class="form__input" autofocus placeholder="Location">
      </div> <!--end of location field-->
</div> <!--end of business_form_right container -->

    <div class="buttons">
      <button>Sign Up</button>
      <br><br>
      <p>or sign up using</p>
      <a href="#"><img src="assets\resources\img\google-icon.png"></a>
      <a href="#"><img src="assets\resources\img\facebook-icon.png"></a>
      <a href="#"><img src="assets\resources\img\linkedin-icon.png"></a>
    </div> <!--end of buttons class-->
  </div><!--end of business_form container-->