<mat-dialog-content class="list-container">
    <svg mat-dialog-close xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
      </svg>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Order List</h2>
    </div>
    <div class="pricing-header mx-auto">
        <div class="no-data text-center" *ngIf="preLoader">
            <img src="assets/preloader.gif" class="preloader-icon" alt="No order" />
        </div>
        <div class="no-data text-center" *ngIf="noData">
            <img src="assets/no-order.svg" class="nodata-msg" alt="No order" />
            <p class="nodata-msg">No order added yet!</p>
            <a routerLink="/customer-form" class="btn btn-success"> Add order </a>
        </div>
        <div class="table-responsive" *ngIf="hideWhenNoOrder">
            <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Product</th>
                        <th class="text-center" scope="col">Comment</th>
                        <th scope="col">Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="
                let order of Order
                | paginate: { itemsPerPage: 8, currentPage: p };
                let i = index
                ">
                <th scope="row">{{ order.$key }}</th>
                <td>{{ order.name }} </td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.comment }}</td>
                <td></td>
                <td class="text-center action-block">
                    <span class="btn btn-outline-danger btn-sm" (click)="deleteOrder(order)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</mat-dialog-content>