.splash-main {
    background-color: var(--secondary-bg-color);
}

.top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.splash-collage {
    text-align: center;
}

.hero-card {
    width: 600px;
    padding: 20px;
    font-family: 'Quicksand';
    margin-left: 80px;
}

.already {
    display: flex;
    margin-right: 150px;
}

.intro-buttons {
    display: flex;
    margin-left: 120px;
}

.features {
    background-color: var(--bg-color);
    font-family: 'Quicksand';
}

.card {
    background-color: var(--secondary-bg-color);
}

.btn-primary {
    background-color: var(--bg-color);
    border: solid 1px var(--bg-color);
    margin-bottom: 25px;
}

.btn-secondary {
    background-color: darkgray;
    border: solid 1px var(--light-blue);
}