<div>
    <h2>Order Form</h2>
    <form [formGroup]="customerOrderForm" (ngSubmit)="submitOrderData()" novalidate class="example-form">
        <mat-form-field class="example-full-width">
            <input class="form-control" matInput placeholder="Name" type="text" formControlName="name" name="name"
                ngModel required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input class="form-control" type="number" matInput placeholder="Quantity" formControlName="quantity"
                value="0" ngModel name="quantity">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Product</mat-label>
            <mat-select formControlName="product">
                <mat-option>None</mat-option>
                <mat-option value="Blue and Orange">Blue and Orange</mat-option>
                <mat-option value="Black and Gold">Black And Gold</mat-option>
                <mat-option value="Yellow and Pink">Yellow and Pink</mat-option>
            </mat-select>
            <!-- <mat-option *ngFor="let product of products" formControlName="product" [value]="product.viewValue">
                    {{product.viewValue}}
                </mat-option> -->
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment" formControlName="comment" value="some comments" ngModel
                name="comments"></textarea>
        </mat-form-field>

        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">
            Reset
        </button>
        <button type="submit" class="btn btn-success" [disabled]="!customerOrderForm.valid">
            Add Order
        </button>
    </form>
</div>