<div class="container-customer"> <!--[hidden]="*ngIf="(click)="formRequested=user_customer"""-->
    <div class="formGroup">
      <input 
      type="email" 
      class="formControl" 
      placeholder="Email Address" 
      #userEmail 
      required
      />
    </div><!--end of email address field-->
    <div class="formGroup">
      <input 
      type="password" 
      class="formControl" 
      placeholder="Password"
      #userPwd
      required
      />
    </div><!--end of password field-->
    <div class="formGroup">
      <input 
      type="text" 
      class="formControl" 
      placeholder="Full Name"
      #displayName
      required
      />
    </div><!--end of name field-->
    <div class="formGroup">
      <input
      type="button"
      class="btn btnPrimary"
      value="Sign Up"
      (click)="authService.SignUp(userEmail.value, userPwd.value)"
      />
    </div>
    <div class="formGroup">
      <span class="or"><span class="innerOr">Or</span></span>
    </div>
    <div class="formGroup">
      <button
      type="button"
      class="btn googleBtn"
      (click)="authService.GoogleAuth()"
      >
        <i class="fab fa-google-plus-g"></i>
        Continue with Google
      </button>
    </div>
  </div> <!--end of customer container class-->