<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acustom Dashboard</title>
</head>
<app-navigation></app-navigation>
<body>
    <mat-card>
        <div class="to-do-list-card">
            <div class="to-do-list-card-header">
                <span class="to-do-list-title">To-Do List: </span>
                <ul class="to-do-list-tabs">
                    <li class="tab">Order Prep</li>
                    <li class="tab">Production Tasks</li>
                    <li class="tab">Packing and Shipping</li>
                    <li class="tab">Post Shipping</li>
                </ul>
            </div>
        </div>
    </mat-card>
</body>
<router-outlet></router-outlet>
</html>
