:root {
    --bg-color:#769FB6;
    --secondary-bg-color: #ffeddf;
    --dark-blue: #003655;
    --text-color:#769FB6;;
    --light-blue: #95C0D8;
    --border-radius: 4px;
}

nav {
    background-color: var(--dark-blue);
    color: var(--text-color);
}