<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-nav-container">
            <img class="acustom_logo" src="assets\resources\img\Acustom_logo.png" width= "150px">
            <div class="dashboard-nav-top">
                <p class="dashboard-nav-links">Dashboard</p>
                <p class="dashboard-nav-links">Profile</p>
                <p class="dashboard-nav-links">Availability</p>
            </div>
            <div class="calendar">
                <p>Calendar placeholder</p>
            </div>
            <div class="dashboard-nav-bttm">
                <p class="dashboard-nav-links">Settings</p>
                <p class="dashboard-nav-links">Logout</p>
            </div>
        </div>
    </div>
</body>
</html>