:root {
    --bg-color:#769FB6;
    --secondary-bg-color: #ffeddf;
    --dark-blue: #003655;
    --text-color:#769FB6;;
    --light-blue: #95C0D8;
    --border-radius: 4px;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/resources/fonts/Quicksand-VariableFont_wght.ttf');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bi-x-square-fill{
    position: absolute;
    top: 0;
    right: 0;
    color: #C35354;
}