:root {
    --bg-color:#769FB6;
    --secondary-bg-color: #ffeddf;
    --dark-blue: #003655;
    --text-color:#769FB6;;
    --light-blue: #95C0D8;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/resources/fonts/Quicksand-VariableFont_wght.ttf');
}
