<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up Page</title>
</head>

<body>
    <div class="container">
        <h1 class="form__title">Login</h1>
        <div class="formGroup">
            <input type="email" class="formControl" placeholder="Email address" #userEmail required>
        </div> <!--end of email address field-->
        <div class="formGroup">
            <input type="password" class="formControl" autofocus placeholder="Password" #userPassword required>
        </div> <!--end of password field-->
        <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userEmail.value, userPassword.value)">
        </div>
        <div class="formGroup">
            <span class="or"><span class="orInner">Or</span> </span>
        </div>
        <div class="formGroup">
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>
                Log in with Google
            </button>
        </div>


        <div class="buttons">
            <p>Don't have an account.</p>
            <a routerLink="/registration-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                Register</a>
        </div> <!--end of buttons class-->
    </div> <!-- end of container class -->
    <router-outlet></router-outlet>