<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up Page</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="assets\resources\img\Acustom.png" width="200px" height="200px">
        </div> <!-- end of logo image class -->
        <div class="fields-container">
            <div class="field">
                <div class="label">Email Address:</div>
                <input type="email">
            </div> <!--end of email address field-->
            <div class="field">
                <div class="label">Password:</div>
                <input type="password">
            </div> <!--end of password field-->
        </div> <!--end of fields container class-->
        <div class="buttons">
            <button>Sign In</button>
            <br><br>
            <p>or sign in using</p>
            <a href="#"><img src="assets\resources\img\google-icon.png"></a>
            <a href="#"><img src="assets\resources\img\facebook-icon.png"></a>
            <a href="#"><img src="assets\resources\img\linkedin-icon.png"></a>
            <p>Don't have an account.
                <a routerLink="registration-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Register</a>
        </div> <!--end of buttons class-->
    </div> <!-- end of container class -->
    <router-outlet></router-outlet>
</body>

</html>