<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up Page</title>
</head>

<body>
    <div class="container">
        <h1 class="form__title">Login</h1>
        <div class="formGroup form__input">
            <input type="email" class="formControl" autofocus placeholder="Email address" #userEmail required>
        </div> 
        <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div> 
        <div class="formGroup">
            <input type="button" class="btn-log-in" value="Log in"
                (click)="authService.SignIn(userEmail.value, userPassword.value)">
        </div>
        <div class="google-container">
            <div class="formGroup">
                <span class="or"><span>Or sign up with -></span></span>
            </div>
            <div class="formGroup">
                <button type="button" class="btn" (click)="authService.GoogleAuth()">
                    <img src="assets\resources\img\google-icon.png">
                </button>
            </div>
        </div>
        <br>
        <div class="footer">
            <p>Don't have an account -></p>
            <a routerLink="/registration-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                Register Here</a>
        </div> <!--end of buttons class-->
    </div> <!-- end of container class -->
    <router-outlet></router-outlet>