body {
  
    --color-primary: #769FB6;
<<<<<<< HEAD
    --color-secondary: #86615C;
    --color-secondary-light: #8d7471;
    --color-tertriary: #ffeddf;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    --playfair: 'Playfair Display';
    --quicksand: 'Quicksand';
    --monteserrat: 'Monteserrat';
=======
    --color-primary-dark: #86615C;
    --color-secondary: #FFEDDF;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
>>>>>>> origin/login-page
    
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--color-primary);
  }
  
  .container {
    width: 400px;
<<<<<<< HEAD
    height: relative;
=======
    height: 650px;
>>>>>>> origin/login-page
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
<<<<<<< HEAD
    background: var(--color-tertriary);
  }

=======
    background: #ffffff;
  }
>>>>>>> origin/login-page
  .container,
  .form__input,
  .form__button {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: var(--color-primary);
  }
  
  .form--hidden {
    display: none;
<<<<<<< HEAD
=======
    
>>>>>>> origin/login-page
  }
  
  .form > *:first-child {
    margin-top: 0;
  }
  .form > *:last-child {
    margin-bottom: 0;
  }
<<<<<<< HEAD

  .logo_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

=======
  
>>>>>>> origin/login-page
  .form__title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
<<<<<<< HEAD
=======
  .logo a img {
    align-content: center;
    align-items: center;
  }

>>>>>>> origin/login-page
  .form__message {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form__message--success {
    color: var(--color-success);
  }
  
  .form__message--error {
    color: var(--color-error);
  }
  
  .form__input-group {
    margin-bottom: 1rem;
  }
  
  .form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
  }
  
  .form__input:focus {
    border-color: var(--color-secondary);
    background-color: #ffffff;
  }
  
  .form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
  }
  
  .form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
  }
  
  .form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary); 
  }
  
  .form__button:hover {
<<<<<<< HEAD
    background: var(--color-primary);
=======
    background: var(--color-secondary);
    color: var(--color-primary);
>>>>>>> origin/login-page
  }
  .form__button:active {
    transform: scale(0.98);
  }
  
  .form__text {
    text-align: center;
  }
  
  .form__link {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
  }
  
  .form__link:hover {
    text-decoration: underline;
<<<<<<< HEAD
  }

  .form_link_forgot_pass {
  
  }

  .form_link_signup {
    margin: left;
  }
=======
  }
>>>>>>> origin/login-page
