<div class="container-customer"> <!--[hidden]="*ngIf="(click)="formRequested=user_customer"""-->
    <div class="form__input-group">
      <input type="email" class="form__input" autofocus placeholder="Email Address">
    </div><!--end of email address field-->
    <div class="form__input-group">
      <input type="password" class="form__input" autofocus placeholder="Password">
    </div><!--end of password field-->
    <div class="form__input-group">
      <input type="password" class="form__input" autofocus placeholder="Confirm Password">
    </div><!--end of confirm password field-->
    <div class="form__input-group">
      <input type="text" class="form__input" autofocus placeholder="Full Name">
    </div><!--end of name field-->
    <div class="buttons">
      <button>Sign Up</button>
      <br><br>
      <p>or sign up using</p>
      <a href="#"><img src="assets\resources\img\google-icon.png"></a>
      <a href="#"><img src="assets\resources\img\facebook-icon.png"></a>
      <a href="#"><img src="assets\resources\img\linkedin-icon.png"></a>
    </div> <!--end of buttons class-->
  </div> <!--end of customer container class-->